body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

#container{
    
    width: 85%; /*720px;*/ 
    margin: 0 auto; /*superio-inferior >> laterais*/
    background-color: #fff;
    min-width: 720px;
    max-width: 1280px;
    /* max-height // min-height */
}

#marca{
    width: 100%;
    height: 200%; /*100px;*/
    background: #225992 url(assets/cabecalho2.jpg) no-repeat center ;
    text-align: center;
    line-height: 12.5em;
}

#conteudo{
    width: 75%;/*520px;*/
    float: right;
}

/*
#imagem{
    width: 90%;
    overflow: hidden;
    border: 3px solid blue;
}
*/

img.img-noticia{
    width: 96%;
    padding: 2%;
    max-width: 600px; /*tamanho da imagem 600px - bom definir para não perder qualidade da imagem*/
}

#navegacao{
    width: 23%; /*180px;*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}

#rodape{
    clear: both;
    width: 100%;  /*720px*/
    background-color: aqua;
}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
    color: black;
}

#conteudo .conteudo{
    float: left;
    width: 64%;/*320px;*/
    background-color: aquamarine;
}

#conteudo .cont-lateral{
    float: right;
    width: 34%;/*180px;*/
    background-color: blueviolet;
}

.cont-lateral h2,
.cont-lateral p{
    padding-left: 20px;
    padding-right: 20px;
}